@font-face {
  font-family: "DINNextLight";
  src:  url($font-path + "DINNextLight.ttf");
}
@font-face {
  font-family: "DINNextRegular";
  src:  url($font-path + "DINNextRegular.ttf");
}
@font-face {
  font-family: "DINNextMedium";
  src:  url($font-path + "DINNextMedium.ttf");
}
@font-face {
  font-family: "DINNextBold";
  src:  url($font-path + "DINNextBold.ttf");
}
@font-face {
  font-family: "calibriRegular";
  src:  url($font-path + "calibriRegular.ttf");
}
@font-face {
  font-family: "RobotoRegular";
  src:  url($font-path + "Roboto-Regular.ttf");
}