

@media (max-width: 1672px ) {

    @supports not (zoom: 1) {

        .layoutInnerContents,
        .layoutWrapper .asideClass {
            transform: scale(0.8);
            transform-origin: 100% 0;
            width: 125%;
            height: 100%;
        }
        .layoutWrapper .asideClass {
            height: 125vh;
        }
        .customMenu ul.menu,
        .GaftModal .modal-content,
        .notifications .notificationMenu {
            transform: scale(0.8);
            
        }
        .customMenu ul.menu {
            right: -35px;
            top: 15px;
        }
        .notifications .notificationMenu {
            right: -45px;
            top: -2px;
            transform: scale(0.8);
        }
    }


    @supports (zoom: 1) {
 
        .layoutInnerContents,
        .customMenu ul.menu,
        .GaftModal .modal-content,
        .notifications .notificationMenu,
        .notifications .notificationMenu,
        .layoutWrapper .asideClass {
            zoom: .65;
        }
        .layoutWrapper .col-md-3.paddingLeft {
            height: 100vh;
              overflow-x: hidden;
          }
          .layoutWrapper .asideClass {
            padding: 24px 15px;
             height: unset; 
             overflow-x: unset; 
      
          }
          .layoutWrapper .col-md-9.paddingRight {
            overflow: scroll;
            height: 100vh;
            display: flex;
            flex-direction: column;
          }
          .layoutWrapper,
          body {
            height: unset;
          }
          .customMenu ul.menu {
            top: 60px;
        }
        .notifications .notificationMenu {
            top: 50px;
        }
          
      }


}
/* end 170000 */
@media (max-width: 1500px ) {

    .mainBanner .boxBanner {
        height: 430px;
        position: relative;
        border-radius: 16px;
    }
    .headerClass .left .timeNav, .headerClass .left .dayNav, .headerClass .left .weatherNav {
        margin-right: 25px;
    }
}

@media (max-width: 1399.98px) {
    .mainBanner .boxBanner .txtBNR {
        right: 30px;
        max-width: 86%;
    }

    @supports not (zoom: 1)  {
        .layoutInnerContents,
        .layoutWrapper .asideClass {
            transform: scale(0.7);
            width: 143%;
        }
        .layoutWrapper .asideClass {
            height: 137vh;
        }
        .headerClass .right, .headerClass .left {
            transform: scale(0.9);
            transform-origin: 100% 0;
        }
    }
    @supports (zoom: 1)  {
        .layoutInnerContents,
        .customMenu ul.menu,
        .GaftModal .modal-content,
        .notifications .notificationMenu,
        .notifications .notificationMenu,
        .layoutWrapper .asideClass {
            zoom: .7;
        }
        .customMenu ul.menu {
            top: 70px;
        }
        .notifications .notificationMenu {
            top: 60px;
        }
        .headerClass .right, .headerClass .left {
            zoom: .9;
        }
    }

    .mainBanner .boxBanner .txtBNR .font24B {
        font-size: 2rem;
    }
    .mainBanner .boxBanner .txtBNR .p18, .mainBanner .boxBanner .txtBNR .boxEmpCm .empName, .boxEmpCm .mainBanner .boxBanner .txtBNR .empName {
        font-size: 1.4rem;
      }
    .headerClass .left .prayer .flex img, .headerClass .left .weatherNav .flex img {
        max-width: 20px;
    }
    .headerClass .left .timeNav span h3 {
        font-size: 20px;
    }
    .headerClass .left .prayer .p14, .headerClass .left .weatherNav .p14,
    .headerClass .left .dayNav .p14M {
        font-size: 1.1rem;
    }

    
}
/* end 140000000000000 */
@media (max-width: 1199.98px) {
    .headerClass .sideMenuToggle {
        display: flex;
        flex-shrink: 0;
    }
    .headerClass {
        padding-left: 10px;
        padding-right: 10px;
    }
    .newsEmp .parentEmpNews .swiper {
        // max-height: 300px;
    }

}
/* end 1200000000000 */
@media (min-width: 991.98px) and (max-width: 1199.98px)    {
    .container-fluid > div.row:not(.FullWidthDash) {
        .col-md-8.innerContent {
           width: 60%;
       }
        .col-md-4.innerAsideBG {
           width: 40%;
       }
       .servWrapTap .servBox {
           min-height: 100px;
           background: #fff;
   
       }
       .servWrapTap .servBox img {
           max-width: 35px;
           max-height: 35px;
       }
       .row.customPadding .col-md-6 {
           width: 100%;
           margin-bottom: 20px;
       }
       .headerClass .left .timeNav .font25 {
           font-size: 14px;
       }
       .asideClass .profile .EmpDetails .linksEmpWrap .linksBox .font16R,
       .headerClass .left .timeNav span {
           font-size: 10px;
       }
       .headerClass .left .prayer .p14, .headerClass .left .weatherNav .p14, .headerClass .left .dayNav .p14M {
           font-size: .9rem;
       }
       .headerClass .left .timeNav, .headerClass .left .dayNav, .headerClass .left .weatherNav {
           margin-right: 10px;
       }
       .headerClass .left .prayer .flex .font22, .headerClass .left .weatherNav .flex .font22 {
           font-size: 15px;
           margin-right: 12px;
       }
       .darkDiv {
           zoom: .8;
       }
       .headerClass {
           height: 80px;
       }
       .delegation .alertD .p14M {
           font-size: 10px;
       }
       .searchMn .searchBTN {
           top: 11px;
       }
       .headerClass .searchMn input[type="text"] {
           width: 200px;
           padding-right: 30px;
           height: 40px;
       }
       .newsEmp .parentEmpNews .swiper {
           // max-height: 300px;
       }
       .asideClass .profile .empImg .img,
       .asideClass .profile .empImg {
           width: 80px;
           height: 80px;
       }
       .wrapperEmpBox .col-md-3,
       .eventWapper .col-md-3, .mediaImages .col-md-3و
       .customPaddingBox, .servWrapper .col-md-3, .wrapOffers .col-md-4, .wrapNews .col-md-4 {
        width: 33.333%;
    }
   }
}
@media (max-width: 991.98px) { 
    .closeBtnMenu {
        background: #ea775b;
        color: #fff !important;
        border: 1px solid #ea775b;
        position: absolute;
        left: 20px;
        height: 30px;
        width: 30px;
        top: 15px;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: unset;
        font-size: 16px;
    }
    .layoutWrapper .col-md-3.paddingLeft {
        padding-left: 0;
        position: fixed;
        right: 0;
        height: 100vh;
        background: #fff;
        z-index: 9;
        top: 0;
        transform: translateX(100%);
        width: 100%;
        transition: .25s;
        &.openMenu {
            transform: translateX(0);
        }
    }
    .layoutWrapper .col-md-9.paddingRight {
        padding-left: 15px;
        padding-right: 15px;
        width: 100%;
        overflow-x: hidden;
    }
    .headerClass {
        width: calc(99% - 30px) !important;
        flex-direction: column-reverse;
    }
    .col-md-4.innerAsideBG,
    .col-md-8.innerContent {
        width: 100%;
    }
    .headerClass {
        top: 0 !important;
    }
    .OrgStructureWrapper {
        padding-top: 0;
        padding-bottom: 0;
    }
    .OrgStructureWrapper svg {
        height: auto;
        width: 100%;
    }
    .customPaddingBox, .servWrapper .col-md-3, .wrapOffers .col-md-4, .wrapNews .col-md-4 {
        width: 33.333%;
    }
    .mapDraggable .post_tags {
        overflow: scroll;
        .post_tags_inner {
            width: 100%;
            padding: 0;
            // height: 500px;
        }
    }
    .GaftModal .modal-dialog {
        min-width: unset !important;
    }
    
}
/* end 9922222 */

@media (max-width: 767.98px) { 
    .customPaddingBox, .servWrapper .col-md-3, .wrapOffers .col-md-4, .wrapNews .col-md-4 {
        width: 100%;
    }
    .newsBox .font16 {
        height: auto;
    }

    .accordion .accordion-item .accordion-header .accordion-button {
        height: auto;
        padding-left: 55px;
        text-align: right;
    }
    .accordion .accordion-item .accordion-header .accordion-button img {
        max-width: 35px;
    }
    .policyBox .SRContent .titleSer {
        line-height: 1.6;
    }
    .fc-toolbar .fc-center {
        transform: translateX(-131px);
    }
    .accordion.sitemap-acc .accordion-item .accordion-header .accordion-button {
        font-size: 18px;
    }
    .accordion.sitemap-acc .accordion-item .accordion-header .accordion-button img {
        max-width: 28px;
    }
    .iosAO .accordion.sitemap-acc .accordion-item .accordion-header .accordion-button {
        font-size: 16px;
    }
    .iosAO .breadcrumbBG .breadcrumb span:not(:last-of-type)::before {
        top: 11px;
    }
    
}
/* end 7677777777 */

@media (max-width: 575.98px) { 
    .font30 {
        font-size: 2.5rem;
    }
    .boxBalance .flexBox .font50 {
        font-size: 40px;
    }
    .p18, .boxEmpCm .empName {
        font-size: 1.5rem;
    }
    .breadcrumbBG .titleBCM {
        font-size: 3.2rem;
    }
    .breadcrumbBG {
        margin-bottom: 5px;
    }
    .layoutWrapper {
        padding: 5px  !important;
       
    }
    .home .headerClass {
        top: 0;
    }
   .headerClass {
        height: 120px;
        left: 0 !important;
        width: 100% !important;
        border-radius: 0;
    }
    .notifications .notificationMenu {
        left: 0;
    }
    .mainBanner .boxBanner .txtBNR .font24B {
        font-size: 1.8rem;
    }
    .mainBanner .boxBanner .txtBNR .p18{
        font-size: 1.2rem;
    }
    .headerClass .left .timeNav, .headerClass .left .dayNav, .headerClass .left .weatherNav {
        margin-right: 10px;
    }
    .headerClass .left .prayer .p14, .headerClass .left .weatherNav .p14, .headerClass .left .dayNav .p14M {
        font-size: 1rem;
    }
    .layoutWrapper .innerAsideBG, .layoutWrapper .mainBanner {
        padding-left: 0;
    }
    .boxBalance {
        min-height: auto;
    }
    .wrapperEmpBox .col-md-3 {
        padding-left: 0;
        padding-right: 0;
        transform: translateX(-7px);
    }
    @supports  (zoom: 1) {
        .headerClass {
            zoom: .8;
        }
        .notifications .notificationMenu,
        .customMenu ul.menu {
            zoom: .8;
        }
    }
    @supports not (zoom: 1) {
        .headerClass {
            transform: scaleY(.9);
        }
        .notifications .notificationMenu,
        .customMenu ul.menu {
            transform: scaleY(.9);
        }
    }
    .mainBanner .boxBanner {
        position: relative;
        height: 350px;
    }
    .mainBanner .boxBanner .txtBNR {
        right: 15px;
        max-width: 90%;
        bottom: 35px;
    }
    .mainBanner .textCenter .swiper-pagination {
        bottom: 10px;
    }
    .mainBanner .swiper-button-next, .mainBanner .swiper-button-prev {
        display: none;
    }
    .Questionnaires {
        padding-top: 35px;
        padding-bottom: 35px;
    }
    .customPadding .col-md-6:first-of-type {
        padding-left: 0;
        padding-bottom: 35px;
    }
    .innerAside {
        padding-top: 30px;
        padding-left: 30px;
    }
     footer {
        margin-right: 0;
        text-align: center;
        margin-bottom: 0;
        padding: 15px 0px 15px;
        width: 100% !important;
    }
    footer .left-footer p,
    footer .served .linkR a {
        font-size: 1.2rem;
        text-align: center;
    }
    .layoutWrapper .col-md-8.innerContent {
        padding-left: 10px;
    }
    .customNavTabs .nav-link {
        font-size: 14px;
        padding: 6px 15px 10px 15px;
    }
    .showMore {
        font-size: 1.4rem;
    }
    .showMore.withArrow::after {
        top: 8px;
    }
    .contentImgWithTxt {
        flex-direction: column-reverse;
        .CONImg,
        .CONTxt {
            width: 100%;
        }
    }
    .contentImgWithTxt .CONImg img {
        margin-right: 0;
        margin-bottom: 30px;
        width: 100%;
        max-height: 400px;
    }
    .contentImgWithTxt .CONTxt .title {
        margin-bottom: 20px;
    }
    .videoSec .videoClass video {
        height: 320px;
    }
    .headerClass .left .prayer .flex .font22, .headerClass .left .weatherNav .flex .font22 {
        font-size: 18px;
        margin-right: 15px;
    }
    .Governor {
        min-width: 100%;
        padding: 30px 25px;
        margin-bottom: 30px;
    }
    .Governor .govImg img {
        max-width: 120px;
        max-height: 120px;
    }
    .Governor .govTxt .rollGov {
        font-size: 1.8rem;
    }
    .Governor .govTxt .font18 {
        font-size: 16px;
    }
    .pinsDataCountries .locate, .pinsData .locate {
        top: 100px;
    }
}

.fc-toolbar.fc-header-toolbar h2 {
    font-size: 13px;
}
.layoutInnerContents {
    border-top: unset;
}
.fc .fc-button-group > * {
    border-radius: unset !important;
    box-shadow: unset !important;
}

.impFiles {
    height: calc(100% - 43px);
}
.impFiles .ul {
    padding: 0;
    list-style: none;
    overflow: auto;
    max-height: 320px;
}
.fixDir, .form-control, select.form-select, select, textarea, .date input[type="date"], input[type="text"] {
     direction: unset;
    text-align: end;
    text-align: right;
}
#divServicesContainer .tabsWithSearchWarpper .tabsServ .customNavTabs {
    width: 95%;
}
/* end 5000000000 */
@media (min-width: 1200px ) and  (max-width: 1600px ) {
    .mainBanner .boxBanner .txtBNR,
    .headerClass .right, .headerClass .left {
        zoom: .8;
    }
    .customMenu ul.menu {
        top: 80px;
    }
    .customMenu ul.menu {
        top: 80px;
    }
    .mainBanner .boxBanner {
        height: 300px;
        position: relative;
        border-radius: 16px;
    }
    .translate-textarea textarea::placeholder {
        font-size: 14px;
    }
    .calender .calender-indicator .indicator p,
    .currency-converter [type="radio"]:checked + label, .currency-converter [type="radio"]:not(:checked) + label {
        font-size: 14px !important;
    }
    footer {
        padding: 15px;
    }
    footer .left-footer p ,
    footer .served .linkR a {
        font-size: 1.4rem;
    }

}

@media (min-width: 3000px ) {
    body {
        zoom: 1.2;
    }
}